<nav class="navbar navbar-default navbar-fixed-side">
	<h6 class="admin-navbar">Employee Management</h6>
  <div class="list-group">
  	<%= link_to "Add New Employee", '#', class: 'list-group-item' %>
  	<%= link_to "Manage Employees", '#', class: 'list-group-item' %>
	</div>
	<h6 class="admin-navbar-cont">Customer Management</h6>
	<div class="list-group">
  	<%= link_to "Add New Customer", '#', class: 'list-group-item' %>
  	<%= link_to "Manage Customers", '#', class: 'list-group-item' %>
	</div>
	<h6 class="admin-navbar-cont">Vendor Management</h6>
	<div class="list-group">
  	<%= link_to "Add New Vendor", '#', class: 'list-group-item' %>
  	<%= link_to "Manage Vendors", '#', class: 'list-group-item' %>
	</div>
	<h6 class="admin-navbar-cont">Report Management</h6>
	<div class="list-group">
  	<%= link_to "Add New Report", '#', class: 'list-group-item' %>
  	<%= link_to "Manage Reports", '#', class: 'list-group-item' %>
	</div>
</nav>