<!DOCTYPE html>
<html>
  <head>
    <title>Nicholson Plumbing | D.U.K.E.</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

	<body>
		<div class="container-fluid">
			<!-- Top Navigation Bar -->
			<div class="row">
				<%= render 'layouts/navigation/top_navigation' %>
			</div>

			<!-- Side Nav and Content Row -->
	    <div class="row">
		    <div id="wrapper">
		    	<!-- Left Side Navigation Bar -->
		    	<div class="col-lg-2 ">
						<%= render 'layouts/navigation/side_navigation' %>
		      </div>
		      <!-- Right Side Content Area -->
		      <div class="col-lg-10">
						<%= render 'layouts/notification' %>
						<%= yield %>
		      </div>
	      </div>
	    </div>
    </div>

		<!-- Javascript placed at bottom to improve page load times. -->
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>