<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
  	<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<%= link_to home_path, :class => 'button white' do %>
	    			<span class="span">Home</span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
					<% end %>
				</li>
				<li>
					<% if current_user.profile.present? %>
						<%= link_to users_path( user_id: current_user.id ), :class => 'button white' do %>
							<span class="span">Profile</span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>
						<% end %>
					<% else %>
						<%= link_to new_user_profile_path( user_id: current_user.id ), :class => 'button white' do %>
							<span class="span">Profile</span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>
						<% end %>
					<% end %>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Customers <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-group"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><%= link_to "Add New Customer", new_customer_path %></li>
						<li><%= link_to "Manage Customers", customers_path %></li>
						<li><%= link_to "Add Customer Status", new_customers_status_path %></li>
						<li><%= link_to "Manage Statuses", customers_statuses_path %></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Vendors <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-shopping-basket"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><%= link_to "Add New Vendor", new_vendor_path %></li>
						<li><%= link_to "Manage Vendors", vendors_path %></li>
						<li><div class="divider"></div></li>
						<li><%= link_to "New Job Data Sheet", '#' %></li>
					</ul>
				</li>
				<li>
					<%= link_to reports_path, :class => 'button white' do %>
	    			<span class="span">Reports</span><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-bar-chart"></span>
					<% end %>
				</li>
			</ul>
		</div>
	</div>
</nav>